nav {
  background-color: rgb(15, 15, 15);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.wrapper {
  width: 110px;
}

.headline {
  font-size: 1.5rem;
  color: white;
  padding-top: 5rem;
  padding-bottom: 6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/images/grilled-vegetables.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}

.sub-headline {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.home,
.menu,
.contact {
  background-color: rgb(19, 19, 19);
}

.home p {
  font-size: 1.125rem;
}

.hours .col {
  width: 200px;
}

.location > p,
.review {
  width: 300px;
}

.menu-cards img {
  aspect-ratio: 1;
  object-fit: cover;
}

@media only screen and (min-width: 600px) {
  .location > p,
  .review {
    width: 450px;
  }
}
