.w-100 {
  width: 100%;
}

.w-200px {
  width: 200px;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-05r {
  margin: 0.5rem;
}

.mt-1r {
  margin-top: 1rem;
}

.p-05r {
  padding: 0.5rem;
}

.p-1r {
  padding: 1rem;
}

.p-2r {
  padding: 2rem;
}

.fs-1pt25r {
  font-size: 1.25rem;
}

.br-05r {
  border-radius: 0.5rem;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}
